{include file="layout:index"/}
<block name="main">
<div class="page-container">
	<p class="f-20 text-success">上海协君投资咨询后台管理中心</p>
	<table class="table table-border table-bordered table-bg mt-20">
		<thead>
			<tr>
				<th colspan="2" scope="col">服务器信息</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th width="30%">服务器计算机名</th>
				<td><span id="lbServerName">http://127.0.0.1/</span></td>
			</tr>
			<volist name="info" id="v">
            <tr>
                <td></td>
                <td></td>
            </tr>
            </volist>
		</tbody>
	</table>
</div>
</block>