{include file="common/header" /}
<!-- 广告 -->
<div class="pg-ban">
	<img src="__COMMON__images/pgbanimg.jpg" alt="">
</div>
<div class="link-box">
	<div class="link">
		<img src="__COMMON__images/linkiconhome.gif" alt="" class="center">网站首页<img src="__COMMON__images/linkicondot.gif" alt="" class="center"><span>新闻中心</span><img src="__COMMON__images/linkicondot.gif" alt="" class="center"><span>行业动态</span>
	</div>
</div>
<!-- 简介 -->
<div class="page-box">
	<div class="page-submenu">
		<div class="page-tit">
			<div>新闻中心<br><span>News Center</span></div>
		</div>
		<ul>
			<li><a href="{:url('index/Index/news')}" >行业动态</a></li>
			<li><a href="{:url('index/Index/newss')}" class="nav">政策法规</a></li>
		</ul>
	</div>
	<div class="about-title-en">{$row.title}</div>
	<div class="about-title">{$row.time}</div>
	<div class="news-txt">
	 {$row.content}
	</div>
</div>{include file="common/footer" /}