{include file="common/header"/}
<!-- 广告 -->
<div class="pg-ban">
	<img src="__COMMON__images/pgbanimg.jpg" alt="">
</div>
<div class="link-box">
	<div class="link">
		<img src="__COMMON__images/linkiconhome.gif" alt="" class="center">网站首页<img src="__COMMON__images/linkicondot.gif" alt="" class="center"><span>专业服务</span><img src="__COMMON__images/linkicondot.gif" alt="" class="center"><span>PPP全生命周期</span>
	</div>
</div>
<!-- 简介 -->
<div class="page-box">
	<div class="page-submenu">
		<div class="page-tit">
			<div>专业服务<br><span>services</span></div>
		</div>
		<ul>
			<li><a href="{:url('index/Index/server')}" class="nav">PPP全生命周期</a></li>
			<li><a href="{:url('index/Index/gongcheng')}">工程全过程咨询</a></li>
		</ul>
	</div>
	<div class="news-txt">
		{$sheng.content}
	</div>
</div>
<!-- 底部 -->
{include file="common/footer"/}