{include file="layout:index"/}
<block name="main">
<article class="page-container">
    <form method="post" id="myForm" enctype="multipart/form-data">
    <table class="table table-border table-bordered table-bg">
         <input type="hidden" name="id" value="{$data.id}">
         <input type="hidden" name="img" value="{$data.img}">
      
        <tbody>        
        <thead>
            <tr>
                <th colspan="20">基本信息</th>
            </tr>
        </thead>
        <tr>
          <th class="text-r" width="15%"><span class="c-red">*</span>标题</th>
            <td>
                <input type="text" class="input-text" name="title" value="{$data.title}">
            </td>
        </tr>
            <tr>
            <th class="text-r"><span class="c-red">*</span>图片：</th>
            <td colspan="5">
                {if condition="$data.img!=''"}<img src="{$data.img}" id="img0" width="100" height="70" >{else/}<img src="__PUBLIC__imgs/default.jpg" id="img0" width="100" height="70" >{/if}
                <span class="btn-upload form-group">
                <a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont"></i> 浏览文件</a>
                <input type="file" name="uploadfile" class="input-file" id="img">
                </span>
                <p><span style="color:orange;">建议使用宽240像素-高170像素内的图片；点击下方"提交"按钮后生效</span></p>
            </td>
         </tr> 
        <tr>
        <th class="text-r" width="15%"><span class="c-red">*</span>排序</th>
            <td>
                <input type="text" class="input-text" name="xu" value="{$data.xu}" >
            </td>
        </tr>
         <tr class="text-c">
            <td colspan="20"><input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;"></td>
         </tr>
        </tbody>
    </table>
    </form>
</article>
<link rel="stylesheet" href="__PUBLIC__edit/themes/default/default.css" />
<link rel="stylesheet" href="__PUBLIC__edit/plugins/code/prettify.css" />
<script charset="utf-8" src="__PUBLIC__edit/kindeditor.js"></script>
<script charset="utf-8" src="__PUBLIC__edit/lang/zh_CN.js"></script>
<script type="text/javascript">
KindEditor.ready(function(K) {
        var editor1 = K.create('textarea[name="content"]', {
            cssPath : '__PUBLIC__edit/plugins/code/prettify.css',
            uploadJson : '__PUBLIC__edit/php/upload_json.php',
            fileManagerJson : '__PUBLIC__edit/php/file_manager_json.php',
            allowFileManager : true,
             height : "300px",
             width : "800px",
            afterBlur: function(){this.sync();}
        });
    });
</script>
<script type="text/javascript">
KindEditor.ready(function(K) {
        var editor1 = K.create('textarea[name="gabout"]', {
            cssPath : '__PUBLIC__edit/plugins/code/prettify.css',
            uploadJson : '__PUBLIC__edit/php/upload_json.php',
            fileManagerJson : '__PUBLIC__edit/php/file_manager_json.php',
            allowFileManager : true,
             height : "300px",
             width : "800px",
            afterBlur: function(){this.sync();}
        });
    });
</script>
<script type="text/javascript">
$(function(){
    var options = { 
        beforeSubmit:  showRequest,
        success:       showResponse,
        resetForm: true, 
        dataType:  'json' 
    }; 
    $('#myForm').submit(function() { 
        $(this).ajaxSubmit(options);
        return false; 
    }); 
    /*图片相关*/
    $("#img").change(function() {
        // this.files[0]代表的是选择的文件资源的第一个，因为上面写了 multiple="multiple" 就表示上传文件可能不止一个  
        var objUrl = getObjectURL(this.files[0]);
        if(objUrl) {
            // 在这里修改图片的地址属性  
            $("#img0").attr("src", objUrl);
        }
    });
});



function showRequest(formData, jqForm, options) { 
    index = layer.load();
    return true; 
} 

function showResponse(responseText, statusText)  { 
    if(responseText == 1){
        layer.msg('修改成功！',{icon: 1,time: 1000},function(){
            window.parent.location.reload();
        });
    }else{
        layer.close(index);
        layer.msg(responseText,{icon: 2,time: 1000, shift:6});
    }
}
</script>
</block>